<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MAGNA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    

</head>
   <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="header_img"> <img src="~/resource/profilepicture/cesar.jpg" alt=""> </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> 
                    <a class="nav_logo" asp-area="" asp-controller="Home" asp-action="Index"> 
                        <img src="~/resource/SIND_TFI_Logo.ico" width="25" height="25">                  
                        <span class="nav_logo-name">MAGNA</span> 
                    </a>
                    <div class="nav_list"> 
                        <a class="nav_link" asp-area="" asp-controller="Assemble" asp-action="Index"> 
                            <i class='bx bx-message-square-detail nav_icon'></i>
                            <span class="nav_name">Assemble</span> 
                        </a> 
                        <a class="nav_link" asp-area="" asp-controller="Employee" asp-action="Index"> 
                            <i class='bx bx-user nav_icon'></i> 
                            <span class="nav_name">Employee</span> 
                        </a> 
                        <a class="nav_link" asp-area="" asp-controller="Notice" asp-action="Index"> 
                            <i class='bx bx-bell nav_icon'></i>
                            <span class="nav_name">Notice</span> 
                        </a> 
                        <a href="#" class="nav_link"> 
                            <i class='bx bx-folder nav_icon'></i> 
                            <span class="nav_name">Other</span> 
                        </a> 
                        <a href="#" class="nav_link"> 
                            <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                            <span class="nav_name">Other</span> 
                        </a> 
                    </div>
                </div> 
                <a class="nav_link" asp-area="" asp-controller="Auth" asp-action="Exit"> 
                    <i class='bx bx-log-out nav_icon'></i> 
                    <span class="nav_name">SignOut</span> 
                </a>
            </nav>
        </div>
        <!--Container Main start-->
        <div class="height-80 bg-light">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>   
        </div>
        <!--Container Main end-->  
        <footer class="border-top footer text-muted">
            <div class="container">
                <div class="col-md-6 d-md-flex">
                    &copy; 2022 - MAGNA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Sistemas Industriales</a>
                </div> 
            </div>
        </footer>  
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/sidebar.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

